---
import BaseLayout from './BaseLayout.astro'
const { frontmatter } = Astro.props

const pageTitle = frontmatter.title
---

<BaseLayout {pageTitle}>
  <p mb-5>Written by {frontmatter.author}</p>
  <slot />
</BaseLayout>
